## Vineeth Anumula
## Assignment - 5

## SENTIMENTAL ANALYSIS

**LOADING THE DATA**

In [230]:
#LOADING THE DATASET
import pandas as pd 
df = pd.read_csv('sentimentdataset.csv')
df.sample(10)

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
336,337,341,Calmness found in the rhythm of raindrops on t...,Calmness,2017-11-08 21:20:00,RainWatcher,Twitter,#Calmness #RainyDays,18.0,35.0,Australia,2017,11,8,21
394,395,399,Soaring like a free spirit on the winds of a c...,Freedom,2021-02-28 13:00:00,CoastalExplorer,Twitter,#Freedom #CoastalAdventure,30.0,60.0,Australia,2021,2,28,13
720,721,725,Attending a school talent show to support clas...,Happy,2023-10-18 16:45:00,TalentShowSupportHighSchool,Facebook,#TalentShow #HighSchoolEntertainment,19.0,38.0,Canada,2023,10,18,16
490,491,495,Standing before the grandeur of the Eiffel Tow...,Reflection,2018-05-12 17:30:00,ParisDreamer,Twitter,#Reflection #ParisianDreams,28.0,55.0,France,2018,5,12,17
444,445,449,"The bitterness of betrayal, a taste that linge...",Bitterness,2019-10-22 17:00:00,PalateStainer,Instagram,#Bitterness #StainedTrust,15.0,30.0,Germany,2019,10,22,17
425,426,430,"Aching heart, the symphony of pain plays in th...",Suffering,2022-03-20 19:30:00,SilentSufferer,Facebook,#Suffering #HeartacheSymphony,25.0,50.0,Brazil,2022,3,20,19
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19
584,585,589,Decided to study for exams but ended up making...,Surprise,2023-05-24 13:15:00,MemeCreator,Instagram,#StudyingMemes #TeenLife,25.0,50.0,Canada,2023,5,24,13
368,369,373,Elation over discovering a rare book in a quai...,Elation,2018-09-22 16:30:00,Bookworm,Instagram,#Elation #RareBookDiscovery,40.0,80.0,USA,2018,9,22,16
682,683,687,Trying out a new smoothie recipe for a healthy...,Excitement,2023-09-10 20:45:00,SmoothieConnoisseurHighSchool,Instagram,#HealthyLiving #HighSchoolWellness,23.0,42.0,UK,2023,9,10,20

**GET THE BING LIU LEXICON**

In [233]:
#Downloading the opinion lexicon
from sklearn import preprocessing
import nltk
#nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize
print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

**CREATING THE 'DICTIONARY'**

In [236]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
df.rename(columns={"reviewText": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}

# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
     word_dict[word] = pos_score

# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
     word_dict[word] = neg_score

[nltk_data] Downloading package punkt to
[nltk_data]     /home/b37e750d-630d-4bcf-a122-
[nltk_data]     bb3a4a582eb9/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

**FUNCTION TO DO THE MATH**

In [238]:
#function to do the math
def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
            return sentiment_score

**CALLING THE FUNCTION**

In [241]:
#calling the function
df['Text'].fillna('no review', inplace=True)
df['Bing_Liu_Score'] = df['Text'].apply(bing_liu_score)

In [244]:
df[['Sentiment',"Text", 'Bing_Liu_Score']].head(10)

,Sentiment,Text,Bing_Liu_Score
0,Positive,Enjoying a beautiful day at the park! ...,1.0
1,Negative,Traffic was terrible this morning. ...,-1.0
2,Positive,Just finished an amazing workout! 💪 ...,1.0
3,Positive,Excited about the upcoming weekend getaway! ...,1.0
4,Neutral,Trying out a new recipe for dinner tonight. ...,NaN
5,Positive,Feeling grateful for the little things in lif...,1.0
6,Positive,Rainy days call for cozy blankets and hot coc...,1.0
7,Positive,The new movie release is a must-watch! ...,NaN
8,Negative,Political discussions heating up on the timel...,NaN
9,Neutral,Missing summer vibes and beach days. ...,NaN

**SENTIMENT COUNT**

In [247]:
#pverall rating
df.groupby('Sentiment').agg({'Bing_Liu_Score':'mean'})

                   Bing_Liu_Score
Sentiment
 Acceptance                   1.0
 Acceptance                  -0.5
 Accomplishment               1.0
 Admiration                   1.0
 Admiration                   1.0
...                           ...
 Wonder                       1.0
 Wonder                       NaN
 Wonderment                   1.0
 Yearning                     1.0
 Zest                         1.0

[279 rows x 1 columns]